<launch>

	<param name="/auvsi16/video/compressed/jpeg_quality" value="50" />
	<param name="/auvsi16/server_ip" value="127.0.0.1" />
	<param name="/auvsi16/server_port" value="80" />
	<param name="/auvsi16/team_code" value="rooster.php" />
	<param name="/auvsi16/course_type" value="courseA" />

	<node name="heartbeat" pkg="auvsi16" output="screen" type="heartbeat"/>

</launch>
